# Virtual environment
.venv/

# Local env / secrets
.env.local

# Debug logs
debug/*.log
debug/*.log.*

# PyInstaller
build/
dist/
*.spec.bak
__pycache__/
*.pyc
*.pyo

# Backups created by the app
backups/

# VS Code
.vscode/

# PyInstaller temp
*.manifest
